* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

nav {
    width: 100%;
    position: sticky;
    height: 10vh;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo h1 {
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: 1.5rem;
    color: white;
}

.hamburg {
    opacity: 1;
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    font-size: clamp(2.5rem,0.5rem + 5vw, 3rem);
}

.nav-container .links a {
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
}

.nav-container .links a:hover {
    color: #6e58e0;
}

.dropdown {
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%) blur(2px);
    box-shadow: 0 0 20px black;
    transition: 0.3s linear;
}

.dropdown .links a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
}

.dropdown .links a {
    justify-content: center;
    align-items: center;
    transform: 0.3s linear;
}

.dropdown .links a:hover {
    background-color: #6e58e0;
    color: white;
}

/* Section Start */

section {
    width: 100%;
    height: 90vh;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .content {
    color: white;
    width: 35%;
    min-height: 100px;
    box-shadow: 0 0 120px 50px black;
}

.content h1 {
    font-size: clamp(1rem, 1rem, + 5vw, 1.8rem);
}

.content .typewritter {
    font-size: 2rem;
    font-weight: 800;
    margin: 10px 0;
}

.typewritter span {
    color: #6e58e0;
}

.content p {
   font-size: clamp(1rem, 0.5rem, + 3vw, 2rem);
   margin: 20px 0;
}

.content button {
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: #6e58e0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 700;
    font-size: 100%;
    transition: 0.2s linear;
}

.content button:hover {
    scale: 1.2;
}

.main-container .image {
    max-width: 500px;
    min-height: 350px;
    width: 100%;
    overflow: hidden;
}

.main-container .image img {
    width: 100%;
}

@media (max-width: 884px){
    .main-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .nav-container .links {
        display: none;
        display: none;
    }

    .hamburg {
        opacity: 1;
    }

    .logo h1 {
        font-size: 1.5rem;
    }
  
    .main-container .content {
        width: 80%;
    }

    .main-container .image {
        width: 50%;
    }
    .content button {
        margin: 0 25%;
    }
}

@media (max-width: 440px){
    .logo h1 {
        font-size: 4rem;
    }
    .main-container .image {
        width: 70%;
        height: 50%;
    }
}